body{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    list-style: none;
    display: flex;
    position: fixed;
    top: 16px;
    right: 0;
    padding: 0 30px;
    align-items: center;
    margin-top: 10px;
}

nav li{
    margin-left: 17px;
    color: rgba(0, 0, 0, .87);
    font-size: 13px;
}

nav li button a{
    color: white;
}

li button{
    background-color: #4285f4;
    font-size: 13px;
    height: 28px;
    width: 69px;
    padding: 0 12px;
    color: white;
    border-radius: 2px;
    border: 1px solid #4285f4;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

li img{
    height: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.main{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchBar{
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 582px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    box-shadow: none;
    display: flex;
    margin-top: 30px;
}

.searchBar img{
    cursor: pointer;
    height: 30px;
    padding-top: 7px;
}

.searchBar input{
    width: 90%;
    margin-left: 15px;
    border: none;
    outline: none;
    font-size: 20px;
    word-wrap: break-word;
}

.searchBar:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.btn{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}

input[type='submit']{
    margin: 11px 4px;
    color: #5f6368;
    padding: 0 16px;
    font-size: 14px;
    text-align: center;
    background-color: #f2f2f2;
    height: 36px;
    line-height: 26px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

input[type='submit']:hover{
        background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
        background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        background-color: #f8f8f8;
        background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
        border: 1px solid #c6c6c6;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        color: #222; 
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: #660099;
}

footer li{
    list-style-type: none;
    display: inline;
}

.about{
    line-height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.about li{
    padding-left: 27px;
}

.about a{
    color: #5f6368;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    font: 13px arial,sans-serif;
}
.location, footer li{
    color: rgba(0, 0, 0, .54);
    background-color: #f2f2f2;
    line-height: 40px;
}

.location span{
    border-top: 1px solid #e4e4e4;
    padding-left: 27px;
}

.about span{
    position: absolute;
    padding-right: 10px;
    right: 0;
}

span li{
    padding-right: 27px;
}

.lang{
    display: inline-block;
    line-height: 24px;
    font-size: small;
    text-align: center;
}